name: CD - Deploy to Azure Container Instance

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy container to ACI
        run: |
          az container create \
            --resource-group rg-container-lab \
            --name dast-container \
            --image ${{ vars.ACR_LOGIN_SERVER }}/${{ vars.IMAGE_NAME }}:latest \
            --cpu 1 \
            --memory 1.5 \
            --registry-login-server ${{ vars.ACR_LOGIN_SERVER }} \
            --ip-address Public \
            --ports 80 \
            --restart-policy Always
